.pagination-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2em;
  text-align: center;
}

.pagination > div {
  width: 35px;
}

.pagination > div:nth-child(2) {
  width: 50px;
}
.pagination-arrow {
  font-size: 1.5em;
}

.pagination-arrow:hover {
  cursor: pointer;
}
