@import url("./assets/fonts/fonts.css");
@import url("./assets/css/reset.css");
@import url("./assets/css/home.css");
@import url("./assets/css/product.css");
@import url("./assets/css/publish.css");

* {
  box-sizing: border-box;
}

body {
  font-family: "V-Inter", sans-serif;
  color: #2cb1ba;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.spinner-container {
  width: 200px;
  justify-self: center;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
}

.error-message {
  color: rgb(255, 93, 93);
  font-weight: 600;
  line-height: 1.4em;
}
